#OS junk files 
Thumbs.db
*.DS_Store
 
#Visual Studio files 
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log*
*.lib
*.sbr
*.sdf
ipch/
.vs/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#upgrade from 2010
Backup/*
_UpgradeReport_Files/*
UpgradeLog.*
 
#Tooling 
_ReSharper*/
[Tt]est[Rr]esult*
*.dotCover

#StyleCop
StyleCop.Cache

#Project files 
[Bb]uild/

#Nuget Files
*.nupkg
#MA: using nuget package restore!
packages/
